<div class="row ">
  <div class="col-xs-12 mt-3">
    <img [src]="recipe.imagePath" alt="" width="350px"height="350" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddedShoppingList()" style="cursor: pointer">To shopping list</a></li>
        <li><a style="cursor: pointer" >Edit recipe</a></li>
        <li><a style="cursor: pointer">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" *ngFor="let ingredient of recipe.ingredients">
      <li class="list-group-item">{{ingredient.name}}-{{ingredient.amout}}</li>
    </ul>
  </div>
</div>
